<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Apiria Admin</h1>
    <p>Welcome to Apiria Admin</p>
    <p><a href='/usersdetails'>Please Click Here to view the Apiria Employees Records.</p>
  </body>
</html>
